*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}


body{
    background-color: rgb(0, 0, 0);
}

.header{ /* Caracteristicas del Header */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 15px 10%;
    margin-top: 10px;
    border: 5px;  
}

.header .logo{ /* Efecto del cursor al pasar por el logo */
    cursor: pointer;
}
.header .logo .img{
    height: 250px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{   /* Efecto del logo */
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
font-size: 25px;
color: white;
text-decoration: none;
font-family: "Bebas Neue", sans-serif; /* Fuente vinculada con google fonts */
font-weight: 400;
font-style: normal;
}

.header .nav-links li a:hover{ /* Efecto de la nav */
    color: gray;
}
.imginicio .ii1{
        display: flex;
        align-items: center;
        height: 1280px;
        width: auto;
        padding: 5px ;
        margin-top: 10px;     
}

.miniaturas {
    display: flex;
    max-width: 1280px;
    max-height: 440px;
    padding: 1px;
}

.miniatura .imgmin {
    display: flex;  
    max-width: 1280px;
    max-height: 440px;
   padding: 5px;
}

    
.miniaturas .miniatura .textom {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}



    
    